* {
    box-sizing: border-box;
}

header {
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}



.header-text {
    color: white;
}

.mission {
    background-color: #FFE964;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
}

.about.us {
    padding: 30px;
    padding-left: 150px;
    font-weight: 8px;
    
}

.our.team {
    background-color: #FF523D;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: white;
}

footer {
    background-color: #223C88;
    padding: 30px;
    padding-left: 150px;
    color: white;
    line-height: 0.5;
}

.our.team.h2 {
    text-align: left;
    padding-left: 50px;
}

