* {
    box-sizing: border-box;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}

header {
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.b::first-letter {
    color: #FFE964;
}

.i::first-letter {
    color: red;
}

.k::first-letter {
    color: blue;
}


.header-text {
    color: white;
    font-size: 45px;
    line-height: 0.2;
    margin-left: 100px;
    margin-right: 380px;
    padding-top: 120px;
    border-bottom: 3px solid white 
}

.mission {
    background-color: #FFE964;
    text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about.us {
    padding: 30px;
    padding-left: 300px;
    font-weight: 8px;
    
}

.our.team {
    background-color: #FF523D;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    color: white;
}

footer {
    background-color: #223C88;
    padding: 30px;
    padding-left: 150px;
    color: white;
    line-height: 0.5;
}

.our.team.h2 {
    text-align: left;
    padding-left: 280px;
}

